[user]
	name = Justin Van Winkle
	email = justin.vanwinkle@gamil.com

[push]
    default = matching

[alias]
    merge = merge --ff-only
    pull = pull --ff-only
    ci = commit -am
    rb = !sh -c 'git checkout --track -b $1 origin/$1'
    w = diff -M -w --color-words

[log]
    color = auto

[grep]
    color = auto

[apply]
    whitespace = strip

[diff]
    color = auto
    rename = copy

[pager]
    color = true

[status]
    color = auto
[color]
    ui = true
