[user]
    name = Justin Van Winkle
    email = justin.vanwinkle@gmail.com

[push]
    default = matching

[alias]
    lc = log -p --color
    merge = merge --no-ff
    grep = grep --color
    gf = grep
    ci = commit -am
    st = status -a\
    rb = !sh -c 'git checkout --track -b $1 origin/$1'

[log]
    color = auto

[grep]
    color = auto

[apply]
    whitespace = strip

[diff]
    color = auto
    rename = copy

[pager]
    color = true

[status]
    color = auto
