[user]
	name = Justin Van Winkle
	email = justin@milo.com

[push]
    default = matching

[alias]
    ci = commit -am
    rb = !sh -c 'git checkout --track -b $1 origin/$1'
    w = diff -M -w --color-words

[log]
    color = auto

[grep]
    color = auto
    line-number

[apply]
    whitespace = strip

[diff]
    color = auto
    rename = copy
    ignore-space-at-eol = true
    b = true
    w = true
    ignore-blank-lines = true
[pager]
    color = true

[status]
    color = auto

[color]
    ui = true
