Emacs.fontBackend: xft
Emacs.font: DejaVu Sans Mono-9
Emacs.verticalScrollBars: off
Emacs.menuBar: off
Emacs.toolBar: off

Xft.dpi:        96
Xft.antialias:  1
Xft.hinting:    4
Xft.hintstyle:  hintfull
Xft.rgba:       rgb
Xft.lcdfilter:  lcddefault

URxvt*font: xft:DejaVu Sans Mono:style=Book:size=10:antialias=true
URxvt*boldFont: xft:DejaVu Sans Mono:style=Bold:size=10
URxvt.scrollBar: false
URxvt*foreground: White
URxvt*background: Black
URxvt*saveLines: 100000
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*letterSpace: -1.5
URxvt*depth: 32

Rxvt*font: xft:ubuntu mono:size=11:style=medium:antialias=true
Rxvt*boldFont: xft:ubuntu mono:size=11:style=bold:antialias=true
Rxvt.scrollBar: false
Rxvt*foreground: White
Rxvt*background: Black
