Emacs.FontBackend: xft
Emacs.font: Monaco-13
Emacs.verticalScrollBars: off
Emacs.menuBar: off
Emacs.toolBar: off

Xft.antialias: 1
Xft.autohint: 1
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt*background: Black
URxvt*boldFont: xft:DejaVu Sans Mono:style=Bold:size=10
URxvt*fading:  20
URxvt*font: xft:DejaVu Sans Mono:style=Book:size=10:antialias=true
URxvt*foreground: White
URxvt*jumpScroll: true
URxvt*letterSpace: -1.5
URxvt.saveLines: 100000
URxvt*scrollTtyOutput: false
URxvt.scrollWithBuffer: false
URxvt*skipScroll: false
URxvt.colorUL: #4682B4
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher
URxvt.scrollBar: false
URxvt.url-launcher: gnome-open
